<%= form_with(model: gakusei, local: true) do |form| %>
  <% if gakusei.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gakusei.errors.count, "error") %> prohibited this gakusei from being saved:</h2>

      <ul>
        <% gakusei.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :gakusei_no %>
    <%= form.text_field :gakusei_no %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
